<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:jdbc-default.properties
				</value>
				<value>classpath:jdbc.properties
				</value>
			</list>
		</property>
		<property name="ignoreResourceNotFound" value="true" />
	</bean>

	<import resource="classpath:/com/hx/model/dataSources.xml"/>
	<import resource="classpath:/com/hx/model/annotatedClasses.xml"/>
	<import resource="classpath:/com/hx/model/persistence.xml"/>
	<import resource="classpath:/com/hx/model/dao/ethereal/dao.xml"/>

	<!-- Engines -->
	<bean id="userEngine" class="com.hx.engine.implementation.UserEngine" autowire="byName">
		<property name="daoUser" ref="daoUser"/>
	</bean>
	<bean id="regimentEngine" class="com.hx.engine.implementation.RegimentEngine" autowire="byName">
		<property name="daoRegiment" ref="daoRegiment"/>
	</bean>	
	<bean id="sectorEngine" class="com.hx.engine.implementation.SectorEngine" autowire="byName">
		<property name="daoSector" ref="daoSector"/>
	</bean>
	<bean id="houseEngine" class="com.hx.engine.implementation.HouseEngine" autowire="byName">
		<property name="daoHouse" ref="daoHouse"/>
	</bean>
	<bean id="personalityEngine" class="com.hx.engine.implementation.PersonalityEngine" autowire="byName">
		<property name="daoPersonality" ref="daoPersonality"/>
	</bean>
	<bean id="communicationEngine" class="com.hx.engine.implementation.CommunicationEngine" autowire="byName">
		<property name="daoCommunication" ref="daoCommunication"/>
	</bean>
	
	<!-- Controllers -->
	<bean id="houseController" class="com.hx.rest.action.HouseController" scope="prototype">
		<property name="houseEngine" ref="houseEngine"/>
	</bean>
	<bean id="communicationController" class="com.hx.rest.action.CommunicationController" scope="prototype">
		<property name="communicationEngine" ref="communicationEngine"/>
		<property name="personalityEngine" ref="personalityEngine"/>
	</bean>
	<bean id="userController" class="com.hx.rest.action.UserController" scope="prototype">
		<property name="userEngine" ref="userEngine"/>
		<property name="houseEngine" ref="houseEngine"/>
	</bean>
	<bean id="personalityController" class="com.hx.rest.action.PersonalityController" scope="prototype">
		<property name="userEngine" ref="userEngine"/>
		<property name="houseEngine" ref="houseEngine"/>
		<property name="sectorEngine" ref="sectorEngine"/>
		<property name="personalityEngine" ref="personalityEngine"/>
	</bean>
</beans>